<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="datagrid.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=TRIANA\SQLEXPRESS;Initial Catalog=Northwind;User ID=mika;Password=12345;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="datagrid.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=TRIANA\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>